.container{
	margin: 0 auto;
}
.icon-img{
	border-radius: 50%;
}
@media (min-width:1120px){
	.container{
		width: 1170px;
	}
	.icon-img{
		width: calc(100% / 6);
		height: 180px;
	}
	.menu{
		display: none;
	}
	.is-fixed,
	.input-wrapper{
		width: 1170px;
		box-sizing: border-box;
	}
	.input-content{
		width: 50%;
	}
	.search-kind{
		height: 113px;
	}
	.mask-content{
		width: 366px;
	}
}
@media (min-width:992px) and (max-width:1199px) {
	.container{
		width: 970px;
	}
	.icon-img{
		width: calc(100% / 6);
		height: 150px;
	}
	.menu{
		display: none;
	}
	.is-fixed,
	.input-wrapper{
		width: 970px;
		box-sizing: border-box;
	}
	.input-content{
		width: 50%;
	}
	.search-kind{
		height: 113px;
	}
	.mask-content{
		width: 366px;
	}
}
@media (min-width:768px) and (max-width:991px) {
	.container{
		width: 750px;
	}
	.icon-img{
		width: calc(100% / 6);
		height: 120px;
	}
	.list-item{
		font-size: 22px;
	}
	.menu{
		display: none;
	}
	.is-fixed,
	.input-wrapper{
		width: 750px;
		box-sizing: border-box;
	}
	.input-content{
		width: 50%;
	}
	.search-kind{
		height: 113px;
	}
	.mask-content{
		width: 366px;
	}
}
@media (min-width:376px) and (max-width:767px) {
	.icon-img{
		width: calc(100% / 4);
		height: 100px;
	}
	.list-item{
		font-size: 18px;
	}
	.is-fixed,
	.input-wrapper{
		right: 0;
		left: 0;
	}
	.input-content{
		width: 100%;
	}
	.pc-list{
		display: none !important;
	}
	.search-kind{
		height: 83px;
	}
	.mask-content{
		width: 366px;
	}
}
@media (max-width:375px) {
	.icon-img{
		width: calc(100% / 4);
		height: 90px;
	}
	.list-item{
		font-size: 14px;
	}
	.is-fixed,
	.input-wrapper{
		right: 0;
		left: 0;
	}
	.input-content{
		width: 100%;
	}
	.pc-list{
		display: none !important;
	}
	.search-kind{
		height: 83px;
	}
	.mask-content{
		width: 360px;
	}
}
@font-face {
  font-family: 'iconfont';  /* project id 1618340 */
  src: url('//at.alicdn.com/t/font_1618340_9uq55ljacyp.eot');
  src: url('//at.alicdn.com/t/font_1618340_9uq55ljacyp.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1618340_9uq55ljacyp.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1618340_9uq55ljacyp.woff') format('woff'),
  url('//at.alicdn.com/t/font_1618340_9uq55ljacyp.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1618340_9uq55ljacyp.svg#iconfont') format('svg');
}